:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}
.main-container {
  margin-top: 20vh;
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
  width: 724px;
 /*  height: 100%; */
  box-shadow: 4px 1px 13px -7px rgb(46 43 233 / 22%);
}
/* .summary{
  border-radius: 0 24px 24px 0px;
  box-shadow: 4px 1px 13px -7px rgb(46 43 233 / 22%);
} */
.result {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  /* height: 100%; */
}
.bg-gradient {
  background-image: linear-gradient(-170deg, rgba(125,95,246,1) 7%, rgba(46,43,233,1) 61%) !important;
}
.result_circle {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: antiquewhite;
}
.circle_grad {
    background: rgb(0,0,0);
background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 35%, #2e2be9 75%);
}
.bigtxt{
color: hsl(0, 0%, 100%);
font-weight: 800;
font-size: 34px;
}
.mdtxt{
  color: hsl(0, 0%, 100%);
font-weight: 700;
font-size: 22px;
}
.smtxt{
  color: hsla(0, 0%, 69%, 0.741);
font-weight: 500;
font-size: 18px;
}
.txt{
  color: hsla(0, 1%, 85%, 0.741);
font-weight: 700;
font-size: 21px;

}
.para{
  color: hsla(0, 1%, 85%, 0.741);
  font-size: 18px;
}
.summary_txt{
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}
.score{
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  text-align: left;
  width: 100%;
}
.reaction{
color: hsl(0, 100%, 67%);
background-color: hsl(0deg 100% 67% / 20%);
}
.memory{
color: hsl(39, 100%, 56%);
background-color:hsl(39deg 100% 56% / 19%) ;
}
.verbal{
color: hsl(166, 100%, 37%);
background-color:hsl(166deg 100% 37% / 20%) ;
}
.visual{
color: hsl(234, 85%, 45%);
background-color:hsl(234deg 85% 45% / 20%);
}
.score_clr{
  color: hsl(224, 30%, 27%);
  margin-left: 5rem;
}
.scoremargin{
  margin-left: 6rem;
}
.score100{
  color: hsla(0, 0%, 69%, 0.741);
}
.continue_btn{
  color:hsl(0, 0%, 100%) ;
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 30px;
  padding: 15px 100px;
  width:100%;
}
.continue_btn:hover{
  background-image: linear-gradient(186deg, rgba(125,95,246,1) 7%, rgba(46,43,233,1) 61%);
  border: none;
}
.summary_txt{
  color: hsl(224, 30%, 27%);
}
.score2{
  width: 100%;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  text-align: center;
}